.gallery--section {
    margin-top: 4rem;
    margin-bottom: 0;
}

.gallery {
    height: 200px;
    width: 500px;
    margin: 100px auto;
    position: relative;
}

h2 {
    margin: 0;
    text-align: center;
    font-size: 3rem;
    color: lightcoral;
}
  
.gallery--img {
    height: 100px;
    position: absolute;
    left: 0;
    offset-path: path('m 0 50 q 50-30 100-30 t 100 30 100 0 100-30 100 30');
    box-shadow: 1px 1px 3px #0008;
    transition: transform .4s ease-out, offset-path .4s cubic-bezier(.77,-1.17,.75,.84),box-shadow .3s, z-index .3s;
    z-index: 0;
}

.gallery--imgOff {
    height: 100px;
    position: absolute;
    left: 0;
    offset-path: path('m 0 50 q 50-30 100-30 t 100 30 100 0 100-30 100 30');
    box-shadow: 1px 1px 3px #0008;    
    z-index: 0;
    
}

.gallery--imgOff:hover {
    cursor: default;
}
  
.gallery--img:hover {
    transform: scale(3);
    /* on hover, the path gets a bit shorter & flattened & shifted to left/bottom a bit for nicer movement */
    offset-path: path('m 5 65 q 45-0 90-0 t 90 0 90 0 90-0 90 0');
    box-shadow: 3px 4px 10px #0006;
    /* ensures that image gets on top of stack at the start of "popping" animation
       and gets back at the end of getting back. With smaller value, 2 different transitions would be needed */
    z-index: 999;
}
  
  /* 3 images */
img:nth-last-child(3):first-child {
    offset-distance: 17%;
}
img:nth-last-child(2):nth-child(2) {
    offset-distance: 49%;
}
img:last-child:nth-child(3) {
    offset-distance: 81%;
}