@keyframes appearAndRotate {
    0% {
      
      transform: rotate(0deg);
    }
    50% {
      
      transform: rotate(360deg);
    }
    100% {
      
      transform: rotate(0deg);
    }
  }

.hero-title {
    
    font-weight: bold;
    font-size: 5rem;
    color: lightcoral;

  }

.hero-title:hover {
    animation: appearAndRotate 3s ease-in-out forwards;
    cursor: pointer;
  }

.hero-titleOff {
  font-weight: bold;
  font-size: 5rem;
  color: lightcoral;
    
}
