.map {
    animation: mapAnimation 1s ease-in-out infinite;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    animation-duration: 4s;
}

.mapOff {
    
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    animation-duration: 4s;
}

.map iframe {
    border-radius: 10px;
    border-color: orange;
    border-style: solid;
    border-width: 3px;
}

@keyframes mapAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);        
}
}